.comments-area {
	@include max-width-aligndefault;
}

.comment-list {
	max-width: calc( var(--aligndefault) - (2 * var(--gap) ) );
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;

	.comment:not(:last-child) {
		padding: 0 0 calc( var(--gap) / 2 ) calc( var(--gap) * 2 );
		margin: 0 0 calc( var(--gap) / 2 );
		border-bottom: 1px solid #ccc;
	}

	.children {
		list-style-type: none;
		margin-left: calc( 2 * var(--gap) );
		padding-top: var(--gap);
		border-left: 1px solid #ccc;

		.comment {
			margin-left: var(--gap);
			padding-left: 0;
		}
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
